In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('city_day.csv')
df.head(40)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
5,Ahmedabad,2015-01-06,NaN,NaN,45.41,38.48,81.50,NaN,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN
6,Ahmedabad,2015-01-07,NaN,NaN,112.16,40.62,130.77,NaN,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN
7,Ahmedabad,2015-01-08,NaN,NaN,80.87,36.74,96.75,NaN,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN
8,Ahmedabad,2015-01-09,NaN,NaN,29.16,31.00,48.00,NaN,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN
9,Ahmedabad,2015-01-10,NaN,NaN,NaN,7.04,0.00,NaN,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN
10,Ahmedabad,2015-01-11,NaN,NaN,132.07,55.80,24.53,NaN,132.07,25.03,6.79,0.00,0.00,0.00,NaN,NaN
11,Ahmedabad,2015-01-12,NaN,NaN,52.04,40.67,90.24,NaN,52.04,51.84,45.89,2.41,0.03,7.88,NaN,NaN
12,Ahmedabad,2015-01-13,NaN,NaN,48.82,44.20,87.09,NaN,48.82,68.21,35.16,9.45,13.35,12.50,NaN,NaN
13,Ahmedabad,2015-01-14,NaN,NaN,19.20,27.86,33.05,NaN,19.20,52.65,20.96,2.16,2.26,5.19,NaN,NaN
14,Ahmedabad,2015-01-15,NaN,NaN,0.60,16.96,16.60,NaN,0.60,28.89,47.63,0.14,0.04,1.35,NaN,NaN
15,Ahmedabad,2015-01-16,NaN,NaN,1.63,21.72,22.86,NaN,1.63,38.27,46.03,0.35,0.05,2.01,NaN,NaN
16,Ahmedabad,2015-01-17,NaN,NaN,11.44,24.73,34.75,NaN,11.44,49.50,52.24,0.68,0.00,3.27,NaN,NaN
17,Ahmedabad,2015-01-18,NaN,NaN,6.10,25.77,29.57,NaN,6.10,48.43,53.49,0.74,0.21,2.75,NaN,NaN
18,Ahmedabad,2015-01-19,NaN,NaN,2.51,26.88,27.45,NaN,2.51,50.03,49.48,0.26,0.02,2.80,NaN,NaN
19,Ahmedabad,2015-01-20,NaN,NaN,7.92,26.80,32.40,NaN,7.92,58.87,56.37,0.24,0.01,3.97,NaN,NaN
20,Ahmedabad,2015-01-21,NaN,NaN,9.52,33.56,39.28,NaN,9.52,106.93,48.75,0.33,0.00,5.65,NaN,NaN
21,Ahmedabad,2015-01-22,NaN,NaN,9.05,17.51,22.33,NaN,9.05,23.71,42.22,0.00,0.00,4.51,NaN,NaN
22,Ahmedabad,2015-01-23,NaN,NaN,22.53,27.96,47.79,NaN,22.53,39.19,32.92,0.39,0.00,5.95,NaN,NaN
23,Ahmedabad,2015-01-24,NaN,NaN,2.03,20.39,21.40,NaN,2.03,40.07,32.49,0.47,0.70,1.54,NaN,NaN
24,Ahmedabad,2015-01-25,NaN,NaN,1.42,20.43,20.19,NaN,1.42,58.41,39.26,0.01,0.00,0.94,NaN,NaN
25,Ahmedabad,2015-01-26,NaN,NaN,2.27,21.16,21.81,NaN,2.27,43.73,39.83,0.06,0.00,1.55,NaN,NaN
26,Ahmedabad,2015-01-27,NaN,NaN,2.19,21.70,23.26,NaN,2.19,43.28,41.10,0.02,0.00,1.65,NaN,NaN
27,Ahmedabad,2015-01-28,73.24,NaN,5.72,21.11,25.84,NaN,5.72,36.52,62.42,0.03,0.01,1.41,NaN,NaN
28,Ahmedabad,2015-01-29,83.13,NaN,6.93,28.71,33.72,NaN,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor
29,Ahmedabad,2015-01-30,79.84,NaN,13.85,28.68,41.08,NaN,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor
30,Ahmedabad,2015-01-31,94.52,NaN,24.39,32.66,52.61,NaN,24.39,67.39,111.33,0.24,0.01,7.67,514.0,Severe
31,Ahmedabad,2015-02-01,135.99,NaN,43.48,42.08,84.57,NaN,43.48,75.23,102.70,0.40,0.04,25.87,782.0,Severe
32,Ahmedabad,2015-02-02,178.33,NaN,54.56,35.31,72.80,NaN,54.56,55.04,107.38,0.46,0.06,35.61,914.0,Severe
33,Ahmedabad,2015-02-03,139.70,NaN,30.61,28.40,56.73,NaN,30.61,33.79,73.60,0.17,0.03,11.87,660.0,Severe
34,Ahmedabad,2015-02-04,80.65,NaN,2.37,22.83,24.00,NaN,2.37,25.73,47.30,0.00,0.00,0.00,294.0,Poor
35,Ahmedabad,2015-02-05,58.36,NaN,2.60,21.39,23.31,NaN,2.60,32.66,53.54,0.00,0.00,0.00,149.0,Moderate
36,Ahmedabad,2015-02-06,79.29,NaN,1.16,26.94,26.83,NaN,1.16,67.41,59.30,0.00,0.00,0.00,190.0,Moderate
37,Ahmedabad,2015-02-07,88.70,NaN,7.29,31.32,37.73,NaN,7.29,80.09,44.76,0.00,0.00,0.00,247.0,Poor
38,Ahmedabad,2015-02-08,74.28,NaN,8.92,27.30,33.42,NaN,8.92,54.28,47.42,0.00,0.00,0.27,379.0,Very Poor
39,Ahmedabad,2015-02-09,113.93,NaN,4.32,24.27,26.86,NaN,4.32,48.73,39.94,0.02,0.00,3.55,341.0,Very Poor

In [4]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [6]:
df.size

472496

In [7]:
df.shape

(29531, 16)

In [9]:
df.isna().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [11]:
df_copy = df.copy()

In [12]:
df_copy=df_copy.drop(['City'],axis=1)
df_copy=df_copy.drop(['Date'],axis=1)

In [13]:
df_copy = df_copy[df_copy['AQI'].notna()]

In [14]:
df_copy.head(30)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
28,83.13,NaN,6.93,28.71,33.72,NaN,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor
29,79.84,NaN,13.85,28.68,41.08,NaN,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor
30,94.52,NaN,24.39,32.66,52.61,NaN,24.39,67.39,111.33,0.24,0.01,7.67,514.0,Severe
31,135.99,NaN,43.48,42.08,84.57,NaN,43.48,75.23,102.70,0.40,0.04,25.87,782.0,Severe
32,178.33,NaN,54.56,35.31,72.80,NaN,54.56,55.04,107.38,0.46,0.06,35.61,914.0,Severe
33,139.70,NaN,30.61,28.40,56.73,NaN,30.61,33.79,73.60,0.17,0.03,11.87,660.0,Severe
34,80.65,NaN,2.37,22.83,24.00,NaN,2.37,25.73,47.30,0.00,0.00,0.00,294.0,Poor
35,58.36,NaN,2.60,21.39,23.31,NaN,2.60,32.66,53.54,0.00,0.00,0.00,149.0,Moderate
36,79.29,NaN,1.16,26.94,26.83,NaN,1.16,67.41,59.30,0.00,0.00,0.00,190.0,Moderate
37,88.70,NaN,7.29,31.32,37.73,NaN,7.29,80.09,44.76,0.00,0.00,0.00,247.0,Poor
38,74.28,NaN,8.92,27.30,33.42,NaN,8.92,54.28,47.42,0.00,0.00,0.27,379.0,Very Poor
39,113.93,NaN,4.32,24.27,26.86,NaN,4.32,48.73,39.94,0.02,0.00,3.55,341.0,Very Poor
40,105.39,NaN,1.41,18.21,18.75,NaN,1.41,35.91,56.15,0.00,0.00,3.31,256.0,Poor
41,66.52,NaN,6.34,23.80,28.24,NaN,6.34,66.58,53.14,9.70,9.63,16.49,388.0,Very Poor
42,65.04,NaN,14.19,30.10,44.21,NaN,14.19,65.91,31.88,7.72,17.46,2.51,288.0,Poor
43,103.36,NaN,18.18,39.56,57.33,NaN,18.18,80.43,40.11,11.29,24.35,3.35,510.0,Severe
44,177.33,NaN,37.49,47.58,77.85,NaN,37.49,99.72,36.47,17.00,52.66,6.98,761.0,Severe
45,113.25,NaN,15.55,30.50,44.87,NaN,15.55,69.71,33.78,10.47,28.53,3.22,475.0,Severe
46,99.70,NaN,19.85,28.10,47.31,NaN,19.85,73.23,30.57,10.28,31.25,4.00,536.0,Severe
47,80.61,NaN,15.96,21.04,35.67,NaN,15.96,54.70,36.20,8.14,18.75,2.52,479.0,Severe
48,100.79,NaN,16.24,25.93,41.91,NaN,16.24,43.11,37.43,10.00,32.41,4.04,592.0,Severe
49,107.99,NaN,11.25,30.09,40.47,NaN,11.25,84.86,31.94,9.20,24.03,3.25,427.0,Severe
50,140.29,NaN,33.84,36.14,68.85,NaN,33.84,101.53,40.98,20.12,43.51,7.48,588.0,Severe
51,239.96,NaN,61.95,46.25,106.92,NaN,61.95,84.87,33.55,22.14,53.98,15.44,1141.0,Severe
52,142.96,NaN,45.45,48.21,92.32,NaN,45.45,62.96,34.77,7.35,22.40,8.47,669.0,Severe
53,238.41,NaN,77.70,55.07,131.32,NaN,77.70,89.07,37.30,50.61,163.64,28.46,1247.0,Severe
54,118.72,NaN,12.56,32.01,42.56,NaN,12.56,61.54,38.80,16.89,46.52,6.05,411.0,Severe
55,52.99,NaN,2.23,10.45,10.39,NaN,2.23,32.76,67.25,3.85,11.39,0.81,292.0,Poor
60,60.78,NaN,9.07,18.21,27.34,NaN,9.07,29.48,34.75,2.05,0.55,0.22,189.0,Moderate
61,91.83,NaN,12.99,28.71,40.76,NaN,12.99,39.71,38.46,2.69,1.74,2.25,408.0,Severe

In [17]:
df_copy.size

347900

In [16]:
df_copy.shape

(24850, 14)

In [19]:
df_copy['AQI_Bucket'].fillna(df_copy['AQI_Bucket'].mode(), inplace = True)

In [21]:
df_copy['Benzene'].fillna(df_copy['Benzene'].median(), inplace = True)
df_copy['PM2.5'].fillna(df_copy['PM2.5'].median(), inplace = True)
df_copy['PM10'].fillna(df_copy['PM10'].median(), inplace = True)
df_copy['NO'].fillna(df_copy['NO'].median(), inplace = True)
df_copy['NO2'].fillna(df_copy['NO2'].median(), inplace = True)
df_copy['NOx'].fillna(df_copy['NOx'].median(), inplace = True)
df_copy['NH3'].fillna(df_copy['NH3'].median(), inplace = True)
df_copy['CO'].fillna(df_copy['CO'].median(), inplace = True)
df_copy['SO2'].fillna(df_copy['SO2'].median(), inplace = True)
df_copy['O3'].fillna(df_copy['O3'].median(), inplace = True)
df_copy['Toluene'].fillna(df_copy['Toluene'].median(), inplace = True)
df_copy['Xylene'].fillna(df_copy['Xylene'].median(), inplace = True)

In [22]:
df_copy.isna().sum()

PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [23]:
X = df_copy.iloc[:,:-2].values
y = df_copy.iloc[:,-2].values

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)